* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 400px;
  max-width: 280px;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: 400px;
  max-width: 280px;
  left: 0;
  top: 0;
}

.button {
  background-color: #f0f0f0;
  border-radius: 4px;
  border: 0;
  background: none;
  box-shadow: 2px 2px rgba(211, 211, 211, 0.418);
}
.button:hover {
  background-color: rgba(173, 216, 230, 0.5);
}

.blank {
  background-color: #f0f0f0;
  border-radius: 4px;
  border: 0;
  background: none;
  box-shadow: none;
}

.calc {
  background: rgba(219, 242, 255, 0.541);
  display: grid;
  width: 280px;
  height: 400px;
  grid-template-areas: "disp disp disp disp disp" "temp temp temp ansUp ansDown" "seven eight nine del clr" "four five six mult divi" "one two three add subt" "zero zero dot ans equals";
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 2px rgba(163, 171, 172, 0.404);
  padding: 5px;
}
.calc__display {
  grid-area: disp;
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin-bottom: 6px;
  overflow: hidden;
}
.calc__display__ansView {
  font-size: 11px;
  text-align: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 4px;
  border: 0;
  background: none;
  box-shadow: none;
  padding: 0 8px;
  color: rgba(85, 85, 85, 0.795);
  font-style: italic;
}
.calc__display__view {
  font-size: 24px;
  text-align: right;
  border-radius: 4px;
  border: 0;
  background: none;
  box-shadow: 1px 2px rgba(65, 65, 65, 0.226);
  padding: 0 4px;
}
.calc .temp {
  grid-area: temp;
}
.calc .ansUp {
  grid-area: ansUp;
  color: #4949ff;
  font-size: 12px;
}
.calc .ansDown {
  grid-area: ansDown;
  color: #4949ff;
  font-size: 12px;
}
.calc .del {
  grid-area: del;
  color: red;
  font-size: 14px;
}
.calc .clr {
  grid-area: clr;
  color: red;
  font-size: 14px;
}
.calc .zero {
  grid-area: zero;
}
.calc .i {
  grid-area: one;
}
.calc .ii {
  grid-area: two;
}
.calc .iii {
  grid-area: three;
}
.calc .iv {
  grid-area: four;
}
.calc .v {
  grid-area: five;
}
.calc .vi {
  grid-area: six;
}
.calc .vii {
  grid-area: seven;
}
.calc .viii {
  grid-area: eight;
}
.calc .ix {
  grid-area: nine;
}
.calc .mult {
  grid-area: mult;
}
.calc .divi {
  grid-area: divi;
}
.calc .add {
  grid-area: add;
}
.calc .subt {
  grid-area: subt;
}
.calc .dot {
  grid-area: dot;
}
.calc .equals {
  grid-area: equals;
  color: green;
  font-size: 14px;
}
.calc .ans {
  grid-area: ans;
  color: green;
  font-size: 14px;
}
.calc .bracketLeft {
  grid-area: bracketLeft;
}
.calc .bracketRight {
  grid-area: bracketRight;
}